<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:property-placeholder location="classpath:jdbc.properties"/>
    <bean id="myConnection" class="com.zpark.basic.spring.MyFactoryBean">
        <property name="driverClassName" value="${jdbc.driverClassName}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>

    <!--    自定义类型转换器-->
    <bean id="customer2" class="com.zpark.basic.entity.Customer">
        <property name="name" value="王小二"/>
        <property name="birth" value="2020-01-01"></property>
    </bean>

    <bean id="dateConverter" class="com.zpark.basic.spring.DateConverter"></bean>

    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref bean="dateConverter"/>
            </set>
        </property>
    </bean>
<!--    后置处理器-->
    <bean id="myBeanPostProcesser" class="com.zpark.basic.spring.MyBeanPostProcesser">
    </bean>

    <!--    &lt;!&ndash;    配置aop&ndash;&gt;-->
    <!--    <aop:config>-->
    <!--&lt;!&ndash;        <aop:pointcut id="pc" expression="execution(* login(String,..)) || execution(* register(..))"/>&ndash;&gt;-->
    <!--&lt;!&ndash;        <aop:pointcut id="pc" expression="args(String,String)"/>&ndash;&gt;-->
    <!--        <aop:pointcut id="pc" expression="within(*..UserServiceImpl)"/>-->
    <!--        <aop:advisor advice-ref="myProxyMethodBeforeAdvice" pointcut-ref="pc"/>-->
    <!--        <aop:advisor advice-ref="myArround" pointcut-ref="pc"/>-->
    <!--    </aop:config>-->

</beans>